<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473671036728-3u7eb4o2n4q1mlg3va6evph89beajpms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473671036728-3u7eb4o2n4q1mlg3va6evph89beajpms</string>
	<key>API_KEY</key>
	<string>AIzaSyB8fjjmD2iabWAFgfTDUn1orvF1NIIq8sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>473671036728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.ozet.ios</string>
	<key>PROJECT_ID</key>
	<string>ozet-e1d6a</string>
	<key>STORAGE_BUCKET</key>
	<string>ozet-e1d6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473671036728:ios:d0b7ca4a8fe47595a69bcd</string>
</dict>
</plist>